@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  height: 100%;
  width: 100%;
}

main {
  height: calc(100% - 14rem);
  width: 100%;
}

main img {
  display: block;
  height: calc(100% - 1rem);
  margin: 0 auto;
}

nav {
  height: 4rem;
  padding-top: 3rem;
  text-align: center;
}

nav a {
  background: #000;
  border: 0.4rem solid #000;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem !important;
  height: 3.6rem;
  margin: 0 1rem;
  text-decoration: none;
  transition: .3s ease-out;
  width: 3.6rem;
}

nav a:hover {
  background: transparent;
  color: #333;
  transition: .3s ease-out;
}

nav a:before {
  vertical-align: -41%;
  padding: 1rem;
}

.fa-envelope-o:before {
  padding: 0;
}

footer {
  color: #ddd;
  font-size: 1.6rem;
  height: 2rem;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 570px)
  and (-webkit-min-device-pixel-ratio: 2) {

  html, body {
    font-size: 20px;
  }

  main {
    height: auto;
    margin: 0 auto;
    width: 90%;
  }
}
